<script type="text/x-handlebars" data-template-name="components/menu-<%= menuId %>">
{{#if model.shouldDisplay}}
<ul class="nav navbar-nav" id="footer-menu-viewer-widget-{{model.id}}" style="text-align:left;">
	{{#each model.sortedMenuItems as |menuItem index|}}
	{{#unless menuItem.parent}}
	<li>
		<ul class="nav">
			<li style="font-weight:600;">
				{{#if menuItem.componentMenu.linkToParams}}
					{{#link-to menuItem.componentMenu.linkToRoute menuItem.componentMenu.linkToParams title=menuItem.componentMenu.tooltip  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"}}
						{{menuItem.componentMenu.displayName}}
					{{/link-to}}
				{{else}}
					{{#link-to menuItem.componentMenu.linkToRoute title=menuItem.componentMenu.tooltip  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"}}
						{{menuItem.componentMenu.displayName}}
					{{/link-to}}
				{{/if}}
			</li>

			{{#if menuItem.children.length}}
			{{#each menuItem.children as |submenuItem|}}
			<li>
				{{#if submenuItem.componentMenu.linkToParams}}
					{{#link-to submenuItem.componentMenu.linkToRoute submenuItem.componentMenu.linkToParams title=submenuItem.componentMenu.tooltip  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"}}
						{{submenuItem.componentMenu.displayName}}
					{{/link-to}}
				{{else}}
					{{#link-to submenuItem.componentMenu.linkToRoute title=submenuItem.componentMenu.tooltip  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"}}
						{{submenuItem.componentMenu.displayName}}
					{{/link-to}}
				{{/if}}
			</li>
			{{/each}}
			{{/if}}
		</ul>
	</li>
	{{/unless}}
	{{/each}}
</ul>
{{/if}}
</script>

