<script type="text/x-handlebars" data-template-name="pages-default">
<div class="box box-default" style="text-align:left; box-shadow:none; margin-bottom:0px;">
	<div class="box-header with-border">
		<h3 class="box-title">Page Manager</h3>
	</div>

	<div class="box-body" style="padding-bottom:0px;">
	{{page-manager-widget model=model controller-action="controller-action"}}
	</div>
</div>
</script>
