<script type="text/x-handlebars" data-template-name="components/tenant-manager-widget">
<div class="box box-default" style="text-align:left; box-shadow:none; margin-bottom:0px;">
	<div class="box-header with-border">
		<h3 class="box-title">Administration</h3>
	</div>

	<div class="box-body no-padding">
		<div id="div-tenant-manager-widget-tree-container" class="col-sm-2" style="padding:0px 0px 10px; background-color:#fafafa;">
			{{tenant-tree-widget controller-action="controller-action"}}
		</div>
		<div id="div-tenant-manager-widget-details-container" class="col-sm-10" style="padding:0px;">
			{{tenant-editor-widget model=selectedTenant controller-action="controller-action"}}
		</div>
	</div>
</div>
</script>
