<script type="text/x-handlebars" data-template-name="components/tenant-tree-widget">
<div class="box box-solid" style="text-align:left; box-shadow:none; margin-bottom:0px;">
	<div class="box-body no-padding" style="background-color:#fafafa;">
		<div id="tenant-tree-container">&nbsp;</div>
	</div>
</div>
</script>
