<script type="text/x-handlebars" data-template-name="components/change-password-widget">
<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Change Password</h3>
		<div class="box-tools pull-right">
			<button id="button-cancel" class="btn btn-flat btn-warning btn-sm" disabled {{action "controller-action" "cancel" bubbles=false}}>
				<i class="fa fa-undo" />
				<span style="font-size:12px;">Cancel</span>
			</button>

			<button class="btn btn-flat btn-primary btn-sm" disabled {{action "controller-action" "save" bubbles=false}}>
				<i class="fa fa-save" />
				<span style="font-size:12px;">Save</span>
			</button>
		</div>
	</div>

	<div class="box-body row" style="margin:0px;">
		<div class="col-sm-3 form-group">
			<label>Login / Email</label>
			{{input type="text" value=model.email class="form-control" readonly="readonly"}}
		</div>
		<div class="col-sm-3 form-group">
			<label>Current Password</label>
			{{input type="password" value=currentPassword class="form-control"}}
		</div>
		<div class="col-sm-3 form-group">
			<label>Enter New Password</label>
			{{input type="password" value=newPassword1 class="form-control"}}
		</div>
		<div class="col-sm-3 form-group">
			<label>Re-enter New Password</label>
			{{input type="password" value=newPassword2 class="form-control"}}
		</div>
	</div>
</div>
</script>
