<script type="text/x-handlebars" data-template-name="components/profile-widget">
<div style="margin-top:15px;">
{{#link-to "profiles-default" title="Profile"}}
	<img src="/profiles/get-image" alt="<%= fullname %>" style="width:25px;">
	<span style="color:#333; cursor:pointer; padding:5px;">
		<%= fullname %>
	</span>
{{/link-to}}
</div>
</script>