<script type="text/x-handlebars" data-template-name="components/profile-widget">
{{#link-to "profiles-default" title="Profile"}}
	<span style="color:#333; cursor:pointer; padding:5px;">
		<img src="/profiles/get-image" alt="<%= fullname %>" style="width:25px;">
		<%= fullname %>
	</span>
{{/link-to}}
</script>