<script type="text/x-handlebars" data-template-name="components/profile-widget">
{{#link-to "profile" title="Profile"}}
	<span class="fa fa-user" style="font-size:16px; color:#333; cursor:pointer; padding:15px; padding-right:0px;"/>
	<span style="color:#333; cursor:pointer; padding:15px; padding-left:5px;">
		<%= fullname %>
	</span>
{{/link-to}}
</script>