<script type="text/x-handlebars" data-template-name="components/horizontal-menu-item-view-widget">
{{#if shouldDisplay}}
	{{#if model.componentMenu}}
		{{#link-to model.componentMenu.emberRoute  title=model.componentMenu.tooltip}}
			<span class="{{model.componentMenu.iconClass}}" style="margin-right:5px;" />
			{{model.componentMenu.displayName}}

			{{#if model.componentMenu.children.length}}
				<span class="{{caretClass}}" style="margin-left:5px;" />
			{{/if}}
		{{/link-to}}
	{{else}}
		<a href="#" class="dropdown-toggle" title={{model.tooltip}}>
			<span class="{{model.iconClass}}" style="margin-right:5px;" />
			{{model.displayName}}
			<span class="{{caretClass}}" style="margin-left:5px;" />
		</a>
	{{/if}}

	{{#if model.componentMenu}}
		{{#if model.componentMenu.children.length}}
			{{#if isVertical}}
			<ul class="dropdown-menu" style="width:100%; margin-top:-5px; padding:0px;">
				{{#each model.componentMenu.children as |menuItem|}}
					{{horizontal-menu-item-view-widget model=menuItem orientation="horizontal" controller-action="controller-action"}}
				{{/each}}
			</ul>
			{{/if}}

			{{#if isHorizontal}}
			<ul class="dropdown-menu" style="width:100%; top:0px; left:100%; margin-top:0px;">
				{{#each model.componentMenu.children as |menuItem|}}
					{{horizontal-menu-item-view-widget model=menuItem orientation="horizontal" controller-action="controller-action"}}
				{{/each}}
			</ul>
			{{/if}}
		{{/if}}
	{{else}}
		{{#if model.children.length}}
			{{#if isVertical}}
			<ul class="dropdown-menu" style="width:100%; margin-top:-5px; padding:0px;">
				{{#each sortedMenuItems as |menuItem|}}
					{{horizontal-menu-item-view-widget model=menuItem orientation="horizontal" controller-action="controller-action"}}
				{{/each}}
			</ul>
			{{/if}}

			{{#if isHorizontal}}
			<ul class="dropdown-menu" style="width:100%; top:0px; left:100%; margin-top:0px;">
				{{#each sortedMenuItems as |menuItem|}}
					{{horizontal-menu-item-view-widget model=menuItem orientation="horizontal" controller-action="controller-action"}}
				{{/each}}
			</ul>
			{{/if}}
		{{/if}}
	{{/if}}
{{/if}}
</script>
