<script type="text/x-handlebars" data-template-name="page-view">
<div class="box box-default" style="text-align:left; box-shadow:none; margin-bottom:0px;">
	<div class="box-header with-border">
		<h3 class="box-title">{{model.title}}</h3>
		<div class="box-tools pull-right">
			<p style="margin:0px; line-height:250%;"><strong>{{model.author}}</strong> updated this at <strong>{{model.formattedUpdatedAt}}</strong></p>
		</div>
	</div>

	<div class="box-body no-padding">
		{{model.content}}
	</div>
</div>
</script>
