<script type="text/x-handlebars" data-template-name="components/page-manager-widget">
<table class="table table-bordered table-hover dataTable" id="pages-default-page-list">
<thead>
	<tr>
		<th>Id</th>
		<th>Title</th>
		<th>Author</th>
		<th>Status</th>
		<th>Created</th>
		<th style="min-width:100px;">&nbsp;</th>
	</tr>
</thead>
</table>
</script>