<script type="text/x-handlebars" data-template-name="profiles-default">
<div class="box box-default" style="text-align:left; box-shadow:none; margin-bottom:0px;">
	<div class="box-header with-border">
		<h3 class="box-title"><strong>{{model.fullName}}</strong> Profile Information</h3>
	</div>

	<div class="box-body">
		<div class="col-sm-12">
			{{change-password-widget model=model controller-action="controller-action"}}
		</div>
	</div>

	<div class="box-body">
		<div class="col-sm-6">
			{{profile-basics-widget model=model controller-action="controller-action"}}
		</div>

		<div class="col-sm-3">
			{{profile-contacts-widget model=model controller-action="controller-action"}}
		</div>

		<div class="col-sm-3">
			{{profile-emergency-contacts-widget model=model controller-action="controller-action"}}
		</div>

		<div class="col-sm-3">
			&nbsp;
		</div>
	</div>

	<% if(positions.module && positions.module.length) { %>
	<div class="box-body">
		<% positions.module.forEach(function(moduleWidget) { %>
			{{<%= moduleWidget %> model=model controller-action="controller-action"}}
		<% }) %>
	</div>
	<% } %>
</div>
</script>
