<script type="text/x-handlebars" data-template-name="components/module-details-template-editor-widget">
<div class="box box-solid" style="text-align:left; box-shadow:none; margin-bottom:0px;">
	<div class="box-body no-padding">
		<div class="nav-tabs-custom" style="margin-bottom:0px;">
			<ul class="nav nav-tabs" role="tablist">
				<li class="module-details-template-editor-widget-tab" role="presentation" id="module-details-template-editor-widget-configuration-editor-{{model.id}}-link">
					<a href="#module-details-template-editor-widget-configuration-editor-{{model.id}}-div" role="tab" data-toggle="tab">
						<span class="info-box-text">Configuration Editor</span>
					</a>
				</li>
				<li class="module-details-template-editor-widget-tab" role="presentation" id="module-details-template-editor-widget-position-editor-{{model.id}}-link">
					<a href="#module-details-template-editor-widget-position-editor-{{model.id}}-div" role="tab" data-toggle="tab">
						<span class="info-box-text">Module Position Editor</span>
					</a>
				</li>
			</ul>

			<div class="tab-content" style="padding:10px 0px 0px;">
				<div class="tab-pane fade" role="tabpanel" id="module-details-template-editor-widget-configuration-editor-{{model.id}}-div">
					<div class="row" style="margin:0px;">
						<div class="col-sm-12">
							<div id="module-details-template-editor-widget-div-configuration-editor-{{model.id}}">&nbsp;</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" role="tabpanel" id="module-details-template-editor-widget-position-editor-{{model.id}}-div">
					<div class="row" style="margin:0px; padding:10px 0px; background-color:#fafafa;">
						<div class="col-sm-2" id="module-details-template-editor-widget-position-editor-available-widgets-{{model.id}}" style="text-align:center;">
						{{#each availableWidgetList as |widget|}}
							<div id={{widget.id}} class="info-box" style="cursor:move; text-align:left;">
								<span class="info-box-icon bg-blue">
									<i class="fa fa-gears" />
								</span>
								<div class="info-box-content">
									<span class="info-box-text" style="white-space:initial;">{{widget.displayname}}</span>
									<span class="description">{{widget.description}}</span>
								</div>
							</div>
						{{else}}
							<span style="text-transform:uppercase;">No widgets available for this template</span>
						{{/each}}
						</div>
						<div class="col-sm-10" id="module-details-template-editor-widget-position-editor-template-preview-{{model.id}}" style="max-height:60vh; overflow-y:auto;">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</script>