<script type="text/x-handlebars" data-template-name="components/module-details-widget">
<div class="box box-solid" style="text-align:left; box-shadow:none; margin-bottom:0px;">
	<div class="box-header with-border">
		<h3 class="box-title">{{model.displayName}} V{{model.parsedMetadata.version}}</h3>
		{{#if model.hasDirtyAttributes}}
		<div class="box-tools pull-right">
			<button id="button-cancel" class="btn btn-flat btn-warning btn-sm" {{action "controller-action" "cancel" bubbles=false}}>
				<i class="fa fa-undo" />
				<span style="font-size:12px;">Cancel</span>
			</button>

			<button class="btn btn-flat btn-primary btn-sm" {{action "controller-action" "save" bubbles=false}}>
				<i class="fa fa-save" />
				<span style="font-size:12px;">Save</span>
			</button>
		</div>
		{{/if}}
	</div>

	<div class="info-box" style="border-radius:0px;">
		<div class="info-box-content" style="margin-left:0px;">
			<div class="row">
				<div class="col-sm-11">
					<div class="row" style="margin:10px 0px;">
						<div class="col-sm-12">
							<span class="info-box-text">{{model.description}}</span>
						</div>
					</div>
					<div class="row" style="margin:10px 0px;">
						<div class="col-sm-4">Author: <a href="{{model.parsedMetadata.website}}" target="_blank">{{model.parsedMetadata.author}}</a></div>
						<div class="col-sm-4">Documentation: <a href="{{model.parsedMetadata.documentation}}" target="_blank">{{model.parsedMetadata.documentation}}</a></div>
						<div class="col-sm-4" style="text-align:right;">Demo: <a href="{{model.parsedMetadata.demo}}" target="_blank">{{model.parsedMetadata.demo}}</a></div>
					</div>
				</div>
				<div class="col-sm-1" style="border-left:1px solid #f4f4f4;">
					<table class="table" style="margin:10px 0px;">
					<tbody>
						<tr>
							<td style="text-align:center; border:0px; padding:0px;">
								{{#if model.adminOnly}}
									<span class="info-box-text">Admin<br/>Module</span>
								{{else}}
									<span class="info-box-text">Enable</span>
									{{input type="checkbox" class="js-switch" name="module-details-widget-checkbox-enabled" checked=model.enabled}}
								{{/if}}
							</td>
						</tr>
					</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="nav-tabs-custom" style="margin-top:20px; margin-bottom:0px;">
		<ul class="nav nav-tabs" role="tablist">
			{{#if model.staticDataExists}}
			<li class="module-details-widget-tab" role="presentation" id="module-details-widget-static-data-{{model.id}}-link">
				<a href="#module-details-widget-static-data-{{model.id}}-div" role="tab" data-toggle="tab">
					<span class="info-box-text">Static Data</span>
				</a>
			</li>
			{{/if}}

			<li class="module-details-widget-tab" role="presentation" id="module-details-widget-configuration-editor-{{model.id}}-link">
				<a href="#module-details-widget-configuration-editor-{{model.id}}-div" role="tab" data-toggle="tab">
					<span class="info-box-text">Configuration Editor</span>
				</a>
			</li>

			{{#if model.templateExists}}
			<li class="module-details-widget-tab" role="presentation" id="module-details-widget-templates-{{model.id}}-link">
				<a href="#module-details-widget-templates-{{model.id}}-div" role="tab" data-toggle="tab">
					<span class="info-box-text">Template Editor</span>
				</a>
			</li>
			{{/if}}
		</ul>

		<div class="tab-content">
			{{#if model.staticDataExists}}
			<div class="tab-pane fade" role="tabpanel" id="module-details-widget-static-data-{{model.id}}-div">
				{{#if model.permissions.length}}
				<div class="info-box" style="border-radius:0px; box-shadow:none; margin-bottom:0px;">
					<div class="info-box-content" style="margin-left:0px;">
						<div class="row" style="margin:10px 0px;">
							<div class="col-sm-12">
								<span class="info-box-text">Permissions</span>
							</div>
						</div>
						<div class="row" style="margin:10px 0px;">
							<div class="col-sm-12 table-responsive">
								<table class="table table-hover">
								<thead>
								<tr>
									<th>Permission Name</th>
									<th>Internal Name</th>
									<th>Description</th>
									<th>Created At</th>
									<th>Updated At</th>
								</tr>
								</thead>
								<tbody>
								{{#each model.permissions as |permission|}}
								<tr>
									<td>{{permission.displayName}}</td>
									<td>{{permission.name}}</td>
									<td>{{permission.description}}</td>
									<td>{{permission.formattedCreatedAt}}</td>
									<td>{{permission.formattedUpdatedAt}}</td>
								</tr>
								{{/each}}
								</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				{{/if}}

				{{#if model.widgets.length}}
				<div class="info-box" style="border-radius:0px; box-shadow:none; margin-bottom:0px;">
					<div class="info-box-content" style="margin-left:0px;">
						<div class="row" style="margin:10px 0px;">
							<div class="col-sm-12">
								<span class="info-box-text">Widgets</span>
							</div>
						</div>
						<div class="row" style="margin:10px 0px;">
							<div class="col-sm-12 table-responsive">
								<table class="table table-hover">
								<thead>
								<tr>
									<th>Widget Name</th>
									<th>Internal Name</th>
									<th>Permission</th>
									<th>Description</th>
									<th>Created At</th>
									<th>Updated At</th>
								</tr>
								</thead>
								<tbody>
								{{#each model.widgets as |widget|}}
								<tr>
									<td>{{widget.displayName}}</td>
									<td>{{widget.emberComponent}}</td>
									<td>{{widget.permission.displayName}}</td>
									<td>{{widget.description}}</td>
									<td>{{widget.formattedCreatedAt}}</td>
									<td>{{widget.formattedUpdatedAt}}</td>
								</tr>
								{{/each}}
								</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				{{/if}}

				{{#if model.menus.length}}
				<div class="info-box" style="border-radius:0px; box-shadow:none; margin-bottom:0px;">
					<div class="info-box-content" style="margin-left:0px;">
						<div class="row" style="margin:10px 0px;">
							<div class="col-sm-12">
								<span class="info-box-text">Menus</span>
							</div>
						</div>
						<div class="row" style="margin:10px 0px;">
							<div class="col-sm-12 table-responsive">
								<table class="table table-hover">
								<thead>
								<tr>
									<th>Menu Item Name</th>
									<th>Internal Name</th>
									<th>Permission</th>
									<th>Description</th>
									<th>Tooltip</th>
									<th>Created At</th>
									<th>Updated At</th>
								</tr>
								</thead>
								<tbody>
								{{#each model.menus as |menu|}}
								<tr>
									<td><span class="{{menu.iconClass}}" style="margin-right:10px;" />{{menu.displayName}}</td>
									<td>{{menu.emberRoute}}</td>
									<td>{{menu.permission.displayName}}</td>
									<td>{{menu.description}}</td>
									<td>{{menu.tooltip}}</td>
									<td>{{menu.formattedCreatedAt}}</td>
									<td>{{menu.formattedUpdatedAt}}</td>
								</tr>
								{{/each}}
								</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				{{/if}}
			</div>
			{{/if}}

			<div class="tab-pane fade" role="tabpanel" id="module-details-widget-configuration-editor-{{model.id}}-div">
				<div class="info-box" style="border-radius:0px; box-shadow:none; margin-bottom:0px;">
					<div class="info-box-content" style="margin-left:0px;">
						<div class="row" style="margin:10px 0px;">
							<div class="col-sm-12">
								<div id="module-details-widget-div-configuration-editor-{{model.id}}">&nbsp;</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			{{#if model.templateExists}}
			<div class="tab-pane fade" role="tabpanel" id="module-details-widget-templates-{{model.id}}-div">
				<div class="row" style="margin:10px 0px;">
					<div class="col-sm-12 table-responsive">
						<table class="table table-hover">
						<thead>
						<tr>
							<th>Default</th>
							<th>Name</th>
							<th>Media</th>
							<th>Description</th>
							<th>Created At</th>
							<th>Updated At</th>
							<th>&nbsp;</th>
						</tr>
						</thead>
						<tbody>
						{{#if allUserTemplates.length}}
							<tr>
								<td colspan="7" style="padding:25px 8px;">
									<span class="info-box-text">All User Templates</span>
								</td>
							</tr>
							{{#each allUserTemplates as |template|}}
							<tr>
								<td style="text-align:center;">{{input type="checkbox" checked=template.isDefault disabled=template.isDefault}}</td>
								<td>{{template.name}}</td>
								<td>{{template.displayMedia}}</td>
								<td>{{template.description}}</td>
								<td>{{template.formattedCreatedAt}}</td>
								<td>{{template.formattedUpdatedAt}}</td>
								<td style="text-align:right;">
									<button type="button" class="btn btn-flat btn-primary btn-sm" {{action "controller-action" "editTemplate" template bubbles=false}}>
										<i class="fa fa-edit" />
										<span style="font-size:12px;">Edit</span>
									</button>
									{{#unless template.isDefault}}
									<button type="button" class="btn btn-flat btn-danger btn-sm" {{action "controller-action" "deleteTemplate" template bubbles=false}}>
										<i class="fa fa-trash" />
										<span style="font-size:12px;">Delete</span>
									</button>
									{{/unless}}
								</td>
							</tr>
							{{/each}}
						{{/if}}

						{{#if publicUserTemplates.length}}
							<tr>
								<td colspan="7" style="padding:25px 8px;">
									<span class="info-box-text">Public User Templates</span>
								</td>
							</tr>
							{{#each publicUserTemplates as |template|}}
							<tr>
								<td style="text-align:center;">{{input type="checkbox" checked=template.isDefault disabled=template.isDefault}}</td>
								<td>{{template.name}}</td>
								<td>{{template.displayMedia}}</td>
								<td>{{template.description}}</td>
								<td>{{template.formattedCreatedAt}}</td>
								<td>{{template.formattedUpdatedAt}}</td>
								<td style="text-align:right;">
									<button type="button" class="btn btn-flat btn-primary btn-sm" {{action "controller-action" "editTemplate" template bubbles=false}}>
										<i class="fa fa-edit" />
										<span style="font-size:12px;">Edit</span>
									</button>
									{{#unless template.isDefault}}
									<button type="button" class="btn btn-flat btn-danger btn-sm" {{action "controller-action" "deleteTemplate" template bubbles=false}}>
										<i class="fa fa-trash" />
										<span style="font-size:12px;">Delete</span>
									</button>
									{{/unless}}
								</td>
							</tr>
							{{/each}}
						{{/if}}

						{{#if registeredUserTemplates.length}}
							<tr>
								<td colspan="7" style="padding:25px 8px;">
									<span class="info-box-text">Registered User Templates</span>
								</td>
							</tr>
							{{#each registeredUserTemplates as |template|}}
							<tr>
								<td style="text-align:center;">{{input type="checkbox" checked=template.isDefault disabled=template.isDefault}}</td>
								<td>{{template.name}}</td>
								<td>{{template.displayMedia}}</td>
								<td>{{template.description}}</td>
								<td>{{template.formattedCreatedAt}}</td>
								<td>{{template.formattedUpdatedAt}}</td>
								<td style="text-align:right;">
									<button type="button" class="btn btn-flat btn-primary btn-sm" {{action "controller-action" "editTemplate" template bubbles=false}}>
										<i class="fa fa-edit" />
										<span style="font-size:12px;">Edit</span>
									</button>
									{{#unless template.isDefault}}
									<button type="button" class="btn btn-flat btn-danger btn-sm" {{action "controller-action" "deleteTemplate" template bubbles=false}}>
										<i class="fa fa-trash" />
										<span style="font-size:12px;">Delete</span>
									</button>
									{{/unless}}
								</td>
							</tr>
							{{/each}}
						{{/if}}

						{{#if administratorUserTemplates.length}}
							<tr>
								<td colspan="7" style="padding:25px 8px;">
									<span class="info-box-text">Administrator User Templates</span>
								</td>
							</tr>
							{{#each administratorUserTemplates as |template|}}
							<tr>
								<td style="text-align:center;">{{input type="checkbox" checked=template.isDefault disabled=template.isDefault}}</td>
								<td>{{template.name}}</td>
								<td>{{template.displayMedia}}</td>
								<td>{{template.description}}</td>
								<td>{{template.formattedCreatedAt}}</td>
								<td>{{template.formattedUpdatedAt}}</td>
								<td style="text-align:right;">
									<button type="button" class="btn btn-flat btn-primary btn-sm" {{action "controller-action" "editTemplate" template bubbles=false}}>
										<i class="fa fa-edit" />
										<span style="font-size:12px;">Edit</span>
									</button>
									{{#unless template.isDefault}}
									<button type="button" class="btn btn-flat btn-danger btn-sm" {{action "controller-action" "deleteTemplate" template bubbles=false}}>
										<i class="fa fa-trash" />
										<span style="font-size:12px;">Delete</span>
									</button>
									{{/unless}}
								</td>
							</tr>
							{{/each}}
						{{/if}}

						{{#if superadministratorUserTemplates.length}}
							<tr>
								<td colspan="7" style="padding:25px 8px;">
									<span class="info-box-text">Super-Administrator User Templates</span>
								</td>
							</tr>
							{{#each superadministratorUserTemplates as |template|}}
							<tr>
								<td style="text-align:center;">{{input type="checkbox" checked=template.isDefault disabled=template.isDefault}}</td>
								<td>{{template.name}}</td>
								<td>{{template.displayMedia}}</td>
								<td>{{template.description}}</td>
								<td>{{template.formattedCreatedAt}}</td>
								<td>{{template.formattedUpdatedAt}}</td>
								<td style="text-align:right;">
									<button type="button" class="btn btn-flat btn-primary btn-sm" {{action "controller-action" "editTemplate" template bubbles=false}}>
										<i class="fa fa-edit" />
										<span style="font-size:12px;">Edit</span>
									</button>
									{{#unless template.isDefault}}
									<button type="button" class="btn btn-flat btn-danger btn-sm" {{action "controller-action" "deleteTemplate" template bubbles=false}}>
										<i class="fa fa-trash" />
										<span style="font-size:12px;">Delete</span>
									</button>
									{{/unless}}
								</td>
							</tr>
							{{/each}}
						{{/if}}
						</tbody>
						</table>
					</div>
				</div>
			</div>
			{{/if}}
		</div>
	</div>
</div>

<div class="modal fade" id="module-details-widget-dialog-template-editor" tabindex="-1" role="dialog">
	<div class="modal-dialog" style="width:85%;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Template Editor: {{currentlyEditingTemplate.name}}</h4>
			</div>
			<div class="modal-body">
				{{module-details-template-editor-widget model=currentlyEditingTemplate controller-action="controller-action"}}
			</div>
			<div class="modal-footer">
				{{#if currentlyEditingTemplate.hasDirtyAttributes}}
				<button type="button" class="btn btn-primary" {{action "controller-action" "saveTemplate" currentlyEditingTemplate bubbles=false}}>Save</button>
				{{/if}}
				<button type="button" class="btn btn-warning" {{action "controller-action" "stopEditTemplate" currentlyEditingTemplate bubbles=false}}>Cancel</button>
			</div>
		</div>
	</div>
</div>
</script>
