<script type="text/x-handlebars" data-template-name="components/vertical-menu-item-view-widget">
{{#if model.shouldDisplay}}
	{{#if model.componentMenu}}
		{{#if model.componentMenu.linkToParams}}
			{{#link-to model.componentMenu.linkToRoute model.componentMenu.linkToParams title=model.componentMenu.tooltip  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"}}
				<span class="{{model.componentMenu.iconClass}}" style="margin-right:5px;" />
				{{model.componentMenu.displayName}}

				{{#if model.componentMenu.children.length}}
					<span class="{{caretClass}}" style="margin-left:5px;" />
				{{/if}}
			{{/link-to}}
		{{else}}
			{{#link-to model.componentMenu.linkToRoute title=model.componentMenu.tooltip  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"}}
				<span class="{{model.componentMenu.iconClass}}" style="margin-right:5px;" />
				{{model.componentMenu.displayName}}

				{{#if model.componentMenu.children.length}}
					<span class="{{caretClass}}" style="margin-left:5px;" />
				{{/if}}
			{{/link-to}}
		{{/if}}
		{{#if model.componentMenu.children.length}}
			<ul class="dropdown-menu" style="width:100%; top:0px; left:100%; margin-top:0px;">
				{{#each model.componentMenu.children as |menuItem|}}
				{{#if menuItem.shouldDisplay}}
					{{vertical-component-menu-item-view-widget model=menuItem controller-action="controller-action"}}
				{{/if}}
				{{/each}}
			</ul>
		{{/if}}
	{{else}}
		<a id="{{model.id}}" href="#" title="{{model.tooltip}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<span class="{{model.iconClass}}" style="margin-right:5px;" />
			{{model.displayName}}
			<span class="{{caretClass}}" style="margin-left:5px;" />
		</a>
		<ul class="dropdown-menu" style="width:100%; top:0px; left:100%; margin-top:0px;">
			{{#each model.sortedMenuItems as |menuItem|}}
			{{#if menuItem.shouldDisplay}}
				{{vertical-menu-item-view-widget model=menuItem controller-action="controller-action"}}
			{{/if}}
			{{/each}}
		</ul>
	{{/if}}
{{/if}}
</script>

<script type="text/x-handlebars" data-template-name="components/vertical-component-menu-item-view-widget">
<a id="{{model.id}}" href="#" title="{{model.tooltip}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	<span class="{{model.iconClass}}" style="margin-right:5px;" />
	{{model.displayName}}
	<span class="{{caretClass}}" style="margin-left:5px;" />
</a>
<ul class="dropdown-menu" style="min-height:100px; width:100%; top:0px; left:100%; margin-top:0px;">
	{{#each model.sortedMenuItems as |menuItem|}}
		{{vertical-component-menu-item-view-widget model=menuItem orientation="horizontal" controller-action="controller-action"}}
	{{/each}}
</ul>
</script>
