<script type="text/x-handlebars" data-template-name="components/menu-manager-widget">
<table class="table table-bordered table-hover dataTable" id="menus-default-menu-list">
<thead>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Component</th>
		<th>Created</th>
		<th>Updated</th>
		<th style="min-width:100px;">&nbsp;</th>
	</tr>
</thead>
</table>

{{#if anyMenusEditing}}
	<div class="nav-tabs-custom" style="margin-top:20px;">
		<ul class="nav nav-tabs" role="tablist" style="background-color:#f4f4f4;">
			{{#each model as |menu|}}
			{{#if menu.isEditing}}
				<li class="menu-manager-widget-list-tab" role="presentation" id="menu-manager-widget-list-{{menu.id}}-link">
					<a href="#menu-manager-widget-list-{{menu.id}}-div" role="tab" data-toggle="tab">
						{{menu.name}}
						{{#if menu.hasDirtyAttributes}}
						*
						{{/if}}
						<i class="fa fa-close" style="margin-left:10px; color:#dd4b39; cursor:pointer;" {{action "controller-action" "stopEditMenu" menu bubbles=false}} />
					</a>
				</li>
			{{/if}}
			{{/each}}
		</ul>

		<div class="tab-content" style="padding:0px;">
			{{#each model as |menu|}}
			{{#if menu.isEditing}}
			<div class="menu-manager-widget-list-div tab-pane fade" role="tabpanel" id="menu-manager-widget-list-{{menu.id}}-div">
				{{menu-edit-widget model=menu controller-action="controller-action"}}
			</div>
			{{/if}}
			{{/each}}
		</div>
	</div>
{{/if}}
</script>

